
@page "/"
@namespace OutlookBlazorTestApp2.Components.Pages.Addin_razor_files._HostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>Loading...</app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
