.page {
    display: flex;
    height: 100vh;
    background: #f5f6f8;
}

.sidebar {
    width: 240px;
    background: #073763;
    color: white;
}

.top-row {
    height: 50px;
    background-color: #eef0f2;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    margin-right: 1rem;
    font-weight: 600;
}

.logout-btn {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #333;
}

main {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
}
